body{
 margin:0;
 font-family:sans-serif;
 background:#020617;
 color:white;
 text-align:center;
}

canvas{
 position:fixed;
 top:0;
 left:0;
 z-index:-1;
}

.container{
 max-width:800px;
 margin:auto;
 padding:20px;
}

#chatBox{
 background:#111;
 padding:10px;
 border-radius:10px;
 min-height:100px;
}

.message{
 padding:8px;
 margin:5px;
 border-radius:8px;
}

.ai{background:#222;}
.user{background:#3b82f6;}

button{
 padding:10px;
 margin:10px;
 border:none;
 border-radius:10px;
 background:#3b82f6;
 color:white;
}

#skills span{
 background:#222;
 padding:5px 10px;
 margin:5px;
 display:inline-block;
 border-radius:8px;
}
